
.instruction-card {
  border-radius: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.learn-diagram img {
  max-height: 300px;
  width: auto;
  object-fit: contain;
}

.interaction-wrapper {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 40px;
}

.drop-box {
  width: 40px;
  height: 40px;
  border: 2px dashed #aaa;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

.number {
  padding: 0.5rem 0.75rem;
  background-color: #e7f1ff;
  border: 1px solid --bs-secondary;
  border-radius: 8px;
  cursor: grab;
  user-select: none;
  font-weight: bold;
}

@media (max-width: 992px) {
  #learn-content-row {
    flex-direction: column;
  }
}