.navbar {
    background-color: var(--bs-secondary) !important; /* Dark base color */
    position: fixed; /* Keeps navbar at top */
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
}

body {
    padding-top: 70px; /* Adjust based on navbar height */
}

/* Navbar brand */
.navbar-brand {
    color: var(--bs-white) !important;
    font-size: 10rem;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

/* Navbar links */
.navbar-nav .nav-link {
    color: var(--bs-white) !important;
    font-weight: 700;
    font-size: 1.25rem; /* default size */
    font-family: 'Rubik', sans-serif;
}

.navbar-nav .nav-link:hover {
    color: var(--bs-primary) !important;
}

/* Navbar Toggle Icon */
.navbar-toggler {
    border-color: var(--bs-light-grey);
}

.navbar-toggler-icon {
    filter: invert(100%);
}

/* Search form */
#search-form input {
    background-color: var(--bs-dark-grey);
    color: white;
    border: 1px solid var(--bs-light-grey);
}

#search-form input::placeholder {
    color: var(--bs-light-grey);
}

#search-form button {
    background-color: var(--bs-secondary);
    color: white;
    border: none;
}
