  .answer-btn:hover {
	background-color: var(--bs-secondary);
	color: white;
  }

  .alert-true {
        color: #155724;
        font-weight: bold;
  }

    .alert-false {
        color: red;
        font-weight: bold;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#outerProgress {
    height: 1.5rem;
    border: 1px solid #888;
}
  