:root {
	--bs-primary: rgb(193, 216, 249);
	--bs-secondary: rgb(49, 111, 225);
	--bs-light-grey: rgb(255, 255, 255);
	--bs-dark-grey: rgb(222, 229, 238);
  }

  .answer-btn:hover {
	background-color: var(--bs-secondary);
	color: white;
  }

  .alert-true {
        color: #155724;
        font-weight: bold;
  }

    .alert-false {
        color: red;
        font-weight: bold;
  }
  