{% extends "base.html" %}

{% block title %}{{ unit_id|capitalize }} – Learn{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/learn.css') }}">
{% endblock %}

{% block content %}
<section class="container-lg px-4 py-4">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="card p-4 instruction-card">
        <h4 class="fw-bold">Quiz Review</h4>
        <p id="instruction-text" class="text-secondary mt-2 mb-3"></p>
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <div class="learn-diagram mb-3">
            <img id="diagram-img" src="{{ url_for('static', filename=gif_url) }}" alt="Diagram" class="img-fluid rounded">
          </div>

          <div class="text-end">
            <a id="next-btn" href="/quiz_review_mistakes" class="btn btn-primary px-4 py-2 fw-bold">Back To Review</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pass dynamic vars to JS -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/learn.js') }}"></script>
{% endblock %}


